*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.equal{
    grid-column: 4;
    grid-row: 2/ span 3;
}